<!doctype html>

<html>
  <body>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {},
        },
      };
    </script>
    <!-- component -->
    <div class="w-full grid grid-cols-3 bg-zinc-50">
    	   {% include 'magnetic_fields.html' %}

	    <div class = "flex-auto">
		  <video controls autoplay muted playsinline id="stream">
			  <source src="/media/stream.mp4" type="video/mp4">
			    <source src="/media/stream.m3u8" type="application/x-mpegURL">
		  </video>
	    </div>
    </div>
    <div class="flex gap-24 p-5">
    {% include 'save_measurements.html' %}
    {% include 'positioning.html' %}
    {% include 'magnet_settings.html' %}
    {% include 'sensor_settings.html' %}
      <div>

      </div>
    </div>
  </body>
</html>
