<!doctype html>

<html>
  <body>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {},
        },
      };
    </script>
    <script type="text/javascript" charset="utf-8">
      var socket = io();
      socket.on("connect", function () {
        socket.emit("Connected");

        socket.on("sensors", (data) => {
          let event = new CustomEvent("sensors", {
            detail: {
              data: data,
            },
          });
          console.log("Recieved sensor data" + data);
          window.dispatchEvent(event);
        });

        socket.on("printerPos", (data) => {
          let event = new CustomEvent("printerPos", {
            detail: {
              data: data,
            },
          });
          console.log("Recieved printer data" + data);
          window.dispatchEvent(event);
        });
      });
    </script>

    <div x-data>
      <text @test.window="$el.innerHTML=$event.detail.data"></text>
    </div>
    <!-- component -->
    <div x-data="{sensors: [], radius: 0, height: 0}">
      Radius: <input type="text" x-model.number.lazy="radius"></input>
      Height: <input type="text" x-model.number.lazy="height"></input>

      <div class="mx-auto grid grid-cols-2 bg-zinc-50 p-32">
        <template
          @sensors.window="sensors=$event.detail.data.data"
          x-for="sensor in sensors"
        >
          <div
            class="rounded-lg col-span-1 border border-gray-500 bg-gray-200 p-32"
          >
            <p>Bx:<text x-text="sensor.mag[0]"></text></p>
            <p>By:<text x-text="sensor.mag[1]"></text></p>
            <p>Bz:<text x-text="sensor.mag[2]"></text></p>
          </div>
        </template>
      </div>
    </div>
    <div x-data='{x:0, y:0, z:0, printer:{}}' @printerPos.window="printer=$event.detail.data">
  <h1>Printer</h1>
      <p>x: <input type="text" x-model.number="x" /> Current x: <text x-text="printer.pos[0]"></text></p>
      <p>y: <input type="text" x-model.number="y" /> Current y: <text x-text="printer.pos[1]"></text></p>
      <p>z: <input type="text" x-model.number="z" /> Current z: <text x-text="printer.pos[2]"></text></p>
      <p><button>Move</button></p>
</div>

<div class="option">
    <input id="use-stun" type="checkbox"/>
    <label for="use-stun">Use STUN server</label>
</div>
<button id="start" onclick="start()">Start</button>
<button id="stop" style="display: none" onclick="stop()">Stop</button>

<div id="media">
    <h2>Media</h2>

    <audio id="audio" autoplay="true"></audio>
    <video id="video" autoplay="true" playsinline="true"></video>
</div>

<script src="{{url_for('static', filename='client.js)}}"></script>
  </body>
</html>
